.cv-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .cv-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  