.pdf-container {
    width: 100%;
    height: 90vh;
    overflow: auto;
  }
  
  .react-pdf__Document {
    display: flex;
    justify-content: center;
  }
  
  .react-pdf__Page {
    margin: 20px 0;
  }
  